USE [master]
GO
/****** Object:  Database [PicoPlacaDB]    Script Date: 12/8/2024 01:06:31 ******/
CREATE DATABASE [PicoPlacaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PicoPlacaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PicoPlacaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PicoPlacaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PicoPlacaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PicoPlacaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PicoPlacaDB]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 12/8/2024 01:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaConsulta] [datetime] NULL,
	[FechaIngresada] [date] NULL,
	[HoraIngresada] [time](7) NULL,
	[NumeroPlaca] [varchar](10) NULL,
	[PuedeCircular] [bit] NULL,
	[Mensaje] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([Id], [FechaConsulta], [FechaIngresada], [HoraIngresada], [NumeroPlaca], [PuedeCircular], [Mensaje]) VALUES (1, CAST(N'2024-08-11T23:15:22.687' AS DateTime), CAST(N'2024-05-01' AS Date), CAST(N'09:10:00' AS Time), N'jkl-0235', 0, N'El vehículo NO puede circular en la fecha y hora especificadas.')
INSERT [dbo].[Consultas] ([Id], [FechaConsulta], [FechaIngresada], [HoraIngresada], [NumeroPlaca], [PuedeCircular], [Mensaje]) VALUES (2, CAST(N'2024-08-11T23:16:12.983' AS DateTime), CAST(N'2024-08-11' AS Date), CAST(N'09:10:00' AS Time), N'jkl-0235', 1, N'El vehículo PUEDE circular en la fecha y hora especificadas.')
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO
USE [master]
GO
